<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="tempu">
        <strong>Temp</strong>: {{ temp }}
    </div>
    <form method="POST" action="/set-command/">
        {% csrf_token %}
        <button name="command" value="F">Forward</button>
        <button name="command" value="B">Backward</button>
        <button name="command" value="L">left</button>
        <button name="command" value="R">Right</button>
        <button name="command" value="S">Stop</button>
    </form>

</body>
</html>